body {
    background: url("../images/green_cup.png") #a2a892 repeat;
    color: #777;
    width: 100%;
    height: 100%;
}

header {
    background: #fff;
    height: 90px;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 40px;
    padding-top: 0px;
}

.logo {
    background: #4aaaa5;
    width: 320px;
    height: 80px;
    color: #fff;
    float: left;
    padding: 5px;
    text-align: center;
}

.logo h1 {
    padding-top: 22px;
}

nav ul {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 30px;
}

nav ul li {
    display: inline-block;
    padding-right: 10px;
    border-left: 1px solid #ccc;
}

nav ul li a {
    color: #777;
    text-decoration: none;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 11px;
    -webkit-transition: color 2s; /* Safari */
    transition: color 2s;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a:hover {
    color: #4aaaa5;
}
